<app-header></app-header> <!-- Agrega el componente de encabezado aquí -->
<h1 class="titulo">GUAU - Generando Uniones y adopciones únicas</h1>

<div class="image-container">
    <img src="assets/imagen/Pady.jpg" alt="Descripción de la imagen" class="image">
    <img src="assets/imagen/Raikou.jpg" alt="Descripción de la segunda imagen" class="image">
</div>

<div class="text-container">
    <p>
        <strong>¡Bienvenidos a nuestra comunidad de amantes de los animales!</strong> En GUAU, creemos que cada perro y gato merece un hogar lleno de amor y cuidado. Nuestra misión es facilitar la adopción de mascotas que han sido rescatadas y que están listas para encontrar una familia que las quiera.
    </p>
    <p>
        Desde <strong>2024</strong>, hemos estado trabajando incansablemente para ayudar a animales en situación de abandono. Nuestro equipo está compuesto por voluntarios apasionados que se dedican a rescatar, cuidar y rehabilitar a estos adorables compañeros. Cada uno de ellos tiene una historia única y está esperando la oportunidad de compartir su amor con una nueva familia.
    </p>
    <h2>¿Por qué adoptar?</h2>
    <p>
        Adoptar no solo cambia la vida de un animal, sino que también transforma la tuya. Al abrir tu hogar a un perro o gato rescatado, estás brindando una segunda oportunidad a un ser que lo necesita. Además, la adopción ayuda a reducir la sobrepoblación de animales y promueve un cambio positivo en nuestra comunidad.
    </p>
    <h2>Nuestro Compromiso</h2>
    <p>
        Nos comprometemos a proporcionar un proceso de adopción transparente y responsable. Cada mascota que ofrecemos ha sido evaluada por veterinarios y se encuentra en condiciones óptimas para ser adoptada. Además, ofrecemos apoyo continuo a las familias adoptantes, asegurando que la transición sea lo más suave posible.
    </p>
    <h2>Únete a Nuestra Causa</h2>
    <p>
        Te invitamos a explorar nuestra página y conocer a nuestros adorables perros y gatos en busca de un hogar. Juntos, podemos hacer una diferencia en la vida de estos animales y crear un futuro mejor para ellos.
    </p>
    <p>
        <strong>¡Gracias por considerar la adopción y por ser parte de nuestra misión!</strong>
    </p>
</div>
