header {
  background-color: #4C956C; /* Verde más oscuro para el header */
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.auth-options a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.auth-options a:hover {
  text-decoration: underline;
}