<app-header></app-header> <!-- Agrega el componente de encabezado aquí -->

<!-- Botón para regresar a la lista de animales -->
<a [routerLink]="['/home']" class="back-button">⬅</a>
<main *ngIf="publicacion">
    <div class="animal-detail">
        <img [src]="'assets/imagen/' + publicacion.mascota.name + publicacion.mascota.id + '.jpg'" alt="Imagen de {{ publicacion.mascota.name }}" class="image">
        <div class="info">
            <p><strong>NOMBRE:</strong> {{ publicacion.mascota.name }}</p>
            <p><strong>FECHA DE INGRESO:</strong> {{ publicacion.mascota.fechaIngreso }}</p>
            <p><strong>ESPECIE:</strong> {{ publicacion.mascota.especie.name }}</p> <!-- Asegúrate de acceder al nombre -->
            <p><strong>TAMAÑO:</strong> {{ publicacion.mascota.tamanio }}</p>
            <p><strong>PESO:</strong> {{ publicacion.mascota.peso }} kg</p>
            <p><strong>EDAD:</strong> {{ publicacion.mascota.edad }} años</p>
            <p><strong>VACUNADO:</strong> {{ publicacion.mascota.vacunado ? 'Sí' : 'No' }}</p>
            <p><strong>CASTRADO:</strong> {{ publicacion.mascota.castrado ? 'Sí' : 'No' }}</p>
            <p><strong>UBICACIÓN:</strong> 📍{{ publicacion.Ciudad }}</p>
            <button (click)="adoptar()">Quiero adoptar 🎀</button>
        </div>
    </div>
</main>
<ng-template #loadingTemplate>
    <p>Cargando datos del animal...</p>
</ng-template>
